.homePage {
  width: 100%;
  margin: 0 auto;
  position: relative;

  a {
    background-color: cadetblue;
    color: white;
    padding: 15px;

    &:first-child{
      margin-right: 15px;
    }
  }

  .pageOptions {
    margin: 0 auto;
    width: fit-content;
  }
}
